@model CatalogViewModel
@{

}
<article class="pagination">
    <nav class="paginator-container">
        @if (Model.PageIndex - 2 >= 0)
        {
            <button data-pageIndex="0" class="page-index" type="button">1</button>
            <span>...</span>
        }
        @if (Model.PageIndex - 1 >= 0)
        {
            <button data-pageindex="@(Model.PageIndex - 1)"
                    type="button" class="page-index">
                @(Model.PageIndex)
            </button>
        }
        <span class="page-index page-index-current">@(Model.PageIndex + 1)</span>

        @if (Model.PageIndex + 1 < Model.PageCount)
        {
            <button data-pageindex="@(Model.PageIndex + 1)" type="button" class="page-index">
                @(Model.PageIndex + 2)
            </button>
        }
        @if (Model.PageIndex + 2 < Model.PageCount)
        {
            <span>...</span>
            <button data-pageindex="@(Model.PageCount - 1)" type="button" class="page-index">
                @(Model.PageCount)
            </button>            
        }


    </nav>
    <script>
        var buttons = document.getElementsByClassName("page-index");
        [...buttons].forEach(el => el.addEventListener("click", event => { 
            var pageIndex = event.currentTarget.dataset.pageindex;
            var currentUrl = new URL(window.location.href);
            if (!currentUrl.searchParams.get("pageIndex"))
                currentUrl.searchParams.append("pageIndex", pageIndex)
            else
                currentUrl.searchParams.set("pageIndex", pageIndex);
            window.location.href = currentUrl;
        }))
       

    </script>
</article>